.blink.x-dark {
  --blink-bg-primary: #ffffff;
  --blink-bg-secondary: #f2f3f5;
  --blink-border-radius-rounded-lg: 0.25rem;
  --blink-border-radius-rounded-xl: 0.5rem;
  --blink-border-radius-rounded-2xl: 1rem;
  --blink-shadow-container: 0px 129.333px 103.467px 0px rgba(0, 0, 0, 0.07), 0px 54.032px 43.226px 0px rgba(0, 0, 0, 0.05),
    0px 16.195px 12.956px 0px rgba(0, 0, 0, 0.04), 0px 8.601px 6.881px 0px rgba(0, 0, 0, 0.03), 0px 3.579px 2.863px 0px rgba(0, 0, 0, 0.02);
  --blink-stroke-error: #ff9696;
  --blink-stroke-primary: #d7d7d7;
  --blink-stroke-secondary: #ebebeb;
  --blink-stroke-warning: #ffbc6e;

  --blink-transparent-error: #ff96961a;
  --blink-transparent-grey: #b3b3b31a;
  --blink-transparent-warning: #ffbc6e1a;

  --blink-button: #2a2a2b;
  --blink-button-disabled: #737373;
  --blink-button-hover: #323335;
  --blink-button-success: #09cbbf1a;
  --blink-text-button: #ffffff;
  --blink-text-button-disabled: #f2f3f5;
  --blink-text-button-success: #00a095;
  --blink-border-radius-rounded-button: 0.5rem;

  --blink-icon-error: #f71a05;
  --blink-icon-error-hover: #ff402e;
  --blink-icon-primary: #737373;
  --blink-icon-primary-hover: #888989;
  --blink-icon-warning: #d55f00;
  --blink-icon-warning-hover: #ef6f08;

  --blink-input-bg: #ffffff;
  --blink-input-bg-selected: #08c0b4;
  --blink-input-bg-disabled: #dee1e7;
  --blink-input-stroke: #c4c6c8;
  --blink-input-stroke-disabled: #dee1e7;
  --blink-input-stroke-error: #ff402e;
  --blink-input-stroke-hover: #b3b3b3;
  --blink-input-stroke-selected: #08c0b4;
  --blink-text-input: #232324;
  --blink-text-input-disabled: #b3b3b3;
  --blink-text-input-placeholder: #737373;
  --blink-border-radius-rounded-input: 0.5rem;
  --blink-border-radius-rounded-input-standalone: 0.5rem;

  --blink-text-brand: #08c0b4;
  --blink-text-error: #f71a05;
  --blink-text-error-hover: #ff402e;
  --blink-text-link: #737373;
  --blink-text-link-hover: #888989;
  --blink-text-primary: #232324;
  --blink-text-secondary: #434445;
  --blink-text-success: #00a095;
  --blink-text-warning: #d55f00;
  --blink-text-warning-hover: #ef6f08;
}
