@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --r-blink-bg-primary: #202327;
  --r-blink-bg-secondary: #262a2d;

  --r-blink-stroke-error: #ff6565;
  --r-blink-stroke-primary: #1d9bf0;
  --r-blink-stroke-secondary: #3d4144;
  --r-blink-stroke-warning: #ffb545;

  --r-blink-border-radius-rounded-lg: 0.25rem;
  --r-blink-border-radius-rounded-xl: 0.5rem;
  --r-blink-border-radius-rounded-2xl: 1.125rem;

  --r-blink-button: #1d9bf0;
  --r-blink-text-button: #ffffff;

  --r-blink-button-disabled: #2f3336;
  --r-blink-text-button-disabled: #768088;

  --r-blink-button-hover: #3087da;

  --r-blink-button-success: #00ae661a;
  --r-blink-text-button-success: #12dc88;

  --r-blink-border-radius-rounded-button: 600rem;

  --r-blink-icon-error: #ff6565;
  --r-blink-icon-error-hover: #ff7a7a;
  --r-blink-icon-primary: #6e767d;
  --r-blink-icon-primary-hover: #949ca4;
  --r-blink-icon-warning: #ffb545;
  --r-blink-icon-warning-hover: #ffc875;

  --r-blink-input-bg: #202327;
  --r-blink-input-stroke: #3d4144;
  --r-blink-text-input: #ffffff;

  --r-blink-input-bg-selected: #1d9bf0;
  --r-blink-input-stroke-selected: #1d9bf0;

  --r-blink-input-bg-disabled: #2f3336;
  --r-blink-input-stroke-disabled: #2f3336;
  --r-blink-text-input-disabled: #566470;

  --r-blink-text-input-placeholder: #6e767d;
  --r-blink-input-stroke-error: #ff6565;
  --r-blink-input-stroke-hover: #6e767d;
  --r-blink-border-radius-rounded-input: 1.25rem;
  --r-blink-border-radius-rounded-input-standalone: 1.75rem;

  --r-blink-text-link: #6e767d;
  --r-blink-text-link-hover: #949ca4;
  --r-blink-text-primary: #ffffff;
  --r-blink-text-secondary: #949ca4;
  --r-blink-text-success: #12dc88;
  --r-blink-text-warning: #ffb545;
  --r-blink-text-warning-hover: #ffc875;

  --r-blink-text-brand: #35aeff;
  --r-blink-text-error: #ff6565;
  --r-blink-text-error-hover: #ff7a7a;

  --r-blink-transparent-error: #aa00001a;
  --r-blink-transparent-grey: #6e767d1a;
  --r-blink-transparent-warning: #a966001a;

  --r-blink-shadow-container: 0px 2px 8px 0px rgba(59, 176, 255, 0.22),
    0px 1px 48px 0px rgba(29, 155, 240, 0.24);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  display: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-colorful {
  gap: 8px;
}

.react-colorful__alpha,
.react-colorful__hue,
.react-colorful__saturation {
  border-radius: 6px !important;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.react-colorful__alpha,
.react-colorful__hue {
  height: 12px !important;
}

.react-colorful__pointer {
  height: 12px !important;
  width: 12px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.x-dark {
  --blink-bg-primary: #202327;
  --blink-bg-secondary: #262a2d;
  --blink-button: #1d9bf0;
  --blink-button-disabled: #2f3336;
  --blink-button-hover: #3087da;
  --blink-button-success: #00ae661a;
  --blink-icon-error: #ff6565;
  --blink-icon-error-hover: #ff7a7a;
  --blink-icon-primary: #6e767d;
  --blink-icon-primary-hover: #949ca4;
  --blink-icon-warning: #ffb545;
  --blink-icon-warning-hover: #ffc875;
  --blink-input-bg: #202327;
  --blink-input-bg-selected: #1d9bf0;
  --blink-input-bg-disabled: #2f3336;
  --blink-input-stroke: #3d4144;
  --blink-input-stroke-disabled: #2f3336;
  --blink-input-stroke-error: #ff6565;
  --blink-input-stroke-hover: #6e767d;
  --blink-input-stroke-selected: #1d9bf0;
  --blink-stroke-error: #ff6565;
  --blink-stroke-primary: #1d9bf0;
  --blink-stroke-secondary: #3d4144;
  --blink-stroke-warning: #ffb545;
  --blink-text-brand: #35aeff;
  --blink-text-button: #ffffff;
  --blink-text-button-disabled: #768088;
  --blink-text-button-success: #12dc88;
  --blink-text-error: #ff6565;
  --blink-text-error-hover: #ff7a7a;
  --blink-text-input: #ffffff;
  --blink-text-input-disabled: #566470;
  --blink-text-input-placeholder: #6e767d;
  --blink-text-link: #6e767d;
  --blink-text-link-hover: #949ca4;
  --blink-text-primary: #ffffff;
  --blink-text-secondary: #949ca4;
  --blink-text-success: #12dc88;
  --blink-text-warning: #ffb545;
  --blink-text-warning-hover: #ffc875;
  --blink-transparent-error: #aa00001a;
  --blink-transparent-grey: #6e767d1a;
  --blink-transparent-warning: #a966001a;

  --blink-border-radius-rounded-lg: 0.25rem;
  --blink-border-radius-rounded-xl: 0.5rem;
  --blink-border-radius-rounded-2xl: 1.125rem;
  --blink-border-radius-rounded-button: 600rem;
  --blink-border-radius-rounded-input: 1.25rem;
  --blink-border-radius-rounded-input-standalone: 1.75rem;

  --blink-shadow-container: 0px 2px 8px 0px rgba(59, 176, 255, 0.22),
    0px 1px 48px 0px rgba(29, 155, 240, 0.24);
}

.x-light {
  --blink-bg-primary: #ffffff;
  --blink-bg-secondary: #f7f7f7;
  --blink-button: #499bea;
  --blink-button-disabled: #f0f3f4;
  --blink-button-hover: #428cd2;
  --blink-button-success: #00b1271a;
  --blink-icon-error: #f71a05;
  --blink-icon-error-hover: #ff402e;
  --blink-icon-primary: #949ca4;
  --blink-icon-primary-hover: #9da3ae;
  --blink-icon-warning: #ef6f08;
  --blink-icon-warning-hover: #ffbc6e;
  --blink-input-bg: #ffffff;
  --blink-input-bg-selected: #499bea;
  --blink-input-bg-disabled: #f0f3f4;
  --blink-input-stroke: #d1d9de;
  --blink-input-stroke-disabled: #f0f3f4;
  --blink-input-stroke-error: #ff402e;
  --blink-input-stroke-hover: #9da3ae;
  --blink-input-stroke-selected: #499bea;
  --blink-stroke-error: #ff9696;
  --blink-stroke-primary: #499bea;
  --blink-stroke-secondary: #d1d9de;
  --blink-stroke-warning: #ffbc6e;
  --blink-text-brand: #428cd2;
  --blink-text-button: #ffffff;
  --blink-text-button-disabled: #949ca4;
  --blink-text-button-success: #029923;
  --blink-text-error: #f71a05;
  --blink-text-error-hover: #ff402e;
  --blink-text-input: #101418;
  --blink-text-input-disabled: #9da3ae;
  --blink-text-input-placeholder: #949ca4;
  --blink-text-link: #949ca4;
  --blink-text-link-hover: #9da3ae;
  --blink-text-primary: #101418;
  --blink-text-secondary: #566470;
  --blink-text-success: #029923;
  --blink-text-warning: #d55f00;
  --blink-text-warning-hover: #ef6f08;
  --blink-transparent-error: #ff96961a;
  --blink-transparent-grey: #6e767d1a;
  --blink-transparent-warning: #ffbc6e1a;

  --blink-border-radius-rounded-lg: 0.25rem;
  --blink-border-radius-rounded-xl: 0.5rem;
  --blink-border-radius-rounded-2xl: 1.125rem;
  --blink-border-radius-rounded-button: 600rem;
  --blink-border-radius-rounded-input: 1.25rem;
  --blink-border-radius-rounded-input-standalone: 1.75rem;

  --blink-shadow-container: 0px 2px 8px 0px rgba(62, 177, 255, 0.22),
    0px 1px 48px 0px rgba(62, 177, 255, 0.24);
}

.dial-light {
  --blink-bg-primary: #ffffff;
  --blink-bg-secondary: #1050db;
  --blink-button: #2a2a2b;
  --blink-button-disabled: #737373;
  --blink-button-hover: #323335;
  --blink-button-success: #09cbbf1a;
  --blink-icon-error: #f71a05;
  --blink-icon-error-hover: #ff402e;
  --blink-icon-primary: #737373;
  --blink-icon-primary-hover: #888989;
  --blink-icon-warning: #d55f00;
  --blink-icon-warning-hover: #ef6f08;
  --blink-input-bg: #ffffff;
  --blink-input-bg-selected: #08c0b4;
  --blink-input-bg-disabled: #dee1e7;
  --blink-input-stroke: #c4c6c8;
  --blink-input-stroke-disabled: #dee1e7;
  --blink-input-stroke-error: #ff402e;
  --blink-input-stroke-hover: #b3b3b3;
  --blink-input-stroke-selected: #08c0b4;
  --blink-stroke-error: #ff9696;
  --blink-stroke-primary: #d7d7d7;
  --blink-stroke-secondary: #ebebeb;
  --blink-stroke-warning: #ffbc6e;
  --blink-text-brand: #08c0b4;
  --blink-text-button: #ffffff;
  --blink-text-button-disabled: #f2f3f5;
  --blink-text-button-success: #00a095;
  --blink-text-error: #f71a05;
  --blink-text-error-hover: #ff402e;
  --blink-text-input: #232324;
  --blink-text-input-disabled: #b3b3b3;
  --blink-text-input-placeholder: #737373;
  --blink-text-link: #737373;
  --blink-text-link-hover: #888989;
  --blink-text-primary: #232324;
  --blink-text-secondary: #434445;
  --blink-text-success: #00a095;
  --blink-text-warning: #d55f00;
  --blink-text-warning-hover: #ef6f08;
  --blink-transparent-error: #ff96961a;
  --blink-transparent-grey: #b3b3b31a;
  --blink-transparent-warning: #ffbc6e1a;

  --blink-border-radius-rounded-lg: 0.25rem;
  --blink-border-radius-rounded-xl: 0.5rem;
  --blink-border-radius-rounded-2xl: 1rem;
  --blink-border-radius-rounded-button: 0.5rem;
  --blink-border-radius-rounded-input: 0.5rem;
  --blink-border-radius-rounded-input-standalone: 0.5rem;

  --blink-shadow-container: 0px 129.333px 103.467px 0px rgba(0, 0, 0, 0.07),
    0px 54.032px 43.226px 0px rgba(0, 0, 0, 0.05),
    0px 16.195px 12.956px 0px rgba(0, 0, 0, 0.04),
    0px 8.601px 6.881px 0px rgba(0, 0, 0, 0.03),
    0px 3.579px 2.863px 0px rgba(0, 0, 0, 0.02);
}

.custom {
  /* General */
  --blink-bg-primary: var(--r-blink-bg-primary);
  --blink-bg-secondary: var(--r-blink-bg-secondary);

  --blink-stroke-error: var(--r-blink-stroke-error);
  --blink-stroke-primary: var(--r-blink-stroke-primary);
  --blink-stroke-secondary: var(--r-blink-stroke-secondary);
  --blink-stroke-warning: var(--r-blink-stroke-warning);

  --blink-border-radius-rounded-lg: var(--r-blink-border-radius-rounded-lg);
  --blink-border-radius-rounded-xl: var(--r-blink-border-radius-rounded-xl);
  --blink-border-radius-rounded-2xl: var(--r-blink-border-radius-rounded-2xl);

  --blink-button: var(--r-blink-button);
  --blink-text-button: var(--r-blink-text-button);

  --blink-button-disabled: var(--r-blink-button-disabled);
  --blink-text-button-disabled: var(--r-blink-text-button-disabled);

  --blink-button-hover: var(--r-blink-button-hover);

  --blink-button-success: var(--r-blink-button-success);
  --blink-text-button-success: var(--r-blink-text-button-success);

  --blink-border-radius-rounded-button: var(
    --r-blink-border-radius-rounded-button
  );

  --blink-icon-error: var(--r-blink-icon-error);
  --blink-icon-error-hover: var(--r-blink-icon-error-hover);
  --blink-icon-primary: var(--r-blink-icon-primary);
  --blink-icon-primary-hover: var(--r-blink-icon-primary-hover);
  --blink-icon-warning: var(--r-blink-icon-warning);
  --blink-icon-warning-hover: var(--r-blink-icon-warning-hover);

  --blink-input-bg: var(--r-blink-input-bg);
  --blink-input-stroke: var(--r-blink-input-stroke);
  --blink-text-input: var(--r-blink-text-input);

  --blink-input-bg-selected: var(--r-blink-input-bg-selected);
  --blink-input-stroke-selected: var(--r-blink-input-stroke-selected);

  --blink-input-bg-disabled: var(--r-blink-input-bg-disabled);
  --blink-input-stroke-disabled: var(--r-blink-input-stroke-disabled);
  --blink-text-input-disabled: var(--r-blink-text-input-disabled);

  --blink-text-input-placeholder: var(--r-blink-text-input-placeholder);

  --blink-input-stroke-error: var(--r-blink-input-stroke-error);
  --blink-input-stroke-hover: var(--r-blink-input-stroke-hover);
  --blink-border-radius-rounded-input: var(
    --r-blink-border-radius-rounded-input
  );
  --blink-border-radius-rounded-input-standalone: var(
    --r-blink-border-radius-rounded-input-standalone
  );

  --blink-text-link: var(--r-blink-text-link);
  --blink-text-link-hover: var(--r-blink-text-link-hover);
  --blink-text-primary: var(--r-blink-text-primary);
  --blink-text-secondary: var(--r-blink-text-secondary);
  --blink-text-success: var(--r-blink-text-success);
  --blink-text-warning: var(--r-blink-text-warning);
  --blink-text-warning-hover: var(--r-blink-text-warning-hover);

  --blink-text-brand: var(--r-blink-text-brand);
  --blink-text-error: var(--r-blink-text-error);
  --blink-text-error-hover: var(--r-blink-text-error-hover);

  --blink-transparent-error: var(--r-blink-transparent-error);
  --blink-transparent-grey: var(--r-blink-transparent-grey);
  --blink-transparent-warning: var(--r-blink-transparent-warning);

  --blink-shadow-container: var(--r-blink-shadow-container);
}

.checker {
  height: 100%;
  width: 100%;
  background: conic-gradient(
    #0000002f 90deg,
    #ffffff2f 90deg 180deg,
    #0000002f 180deg 270deg
  );
  background-repeat: repeat;
  background-size: 5px 5px;
  background-position: top left;
}

.cm-editor {
  border: none;
  outline: none;
}
.cm-editor.cm-focused {
  border: none;
  outline: none;
}
